@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* 화면 전체 렙 */
.wrapper {
	width: 1900px;
}

/* content 랩 */
.wrap {
	width: 800px;
	margin: auto;
}
/* 페이지 제목 */
.subjecet {
	width: 100%;
	height: 120px;
	background-color: #8EC0E4;
}

.subjecet span {
	margin-left: 31px;
	font-size: 80px;
	font-weight: 900;
	color: white;
}

/* 아이디 영역 */
.id_wrap {
	width: 100%;
	margin-top: 20px;
}

.id_name {
	font-size: 25px;
	font-weight: bold;
}

.id_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.id_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 비밀번호 영역 */
.pw_wrap {
	width: 100%;
	margin-top: 20px;
}

.pw_name {
	font-size: 25px;
	font-weight: bold;
}

.pw_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.pw_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 비밀번호 확인 영역 */
.pwck_wrap {
	width: 100%;
	margin-top: 20px;
}

.pwck_name {
	font-size: 25px;
	font-weight: bold;
}

.pwck_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.pwck_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 이름 영역 */
.user_wrap {
	width: 100%;
	margin-top: 20px;
}

.user_name {
	font-size: 25px;
	font-weight: bold;
}

.user_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.user_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}
/* 주민번호 영역 */
.idnum_wrap {
	width: 100%;
	margin-top: 20px;
}

.idnum_name {
	font-size: 25px;
	font-weight: bold;
}

.idnum_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.idnum_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}
/* 전화번호 영역 */
.phone_wrap {
	width: 100%;
	margin-top: 20px;
}

.phone_name {
	font-size: 25px;
	font-weight: bold;
}

.phone_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.phone_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 메일 영역 */
.mail_wrap {
	width: 100%;
	margin-top: 20px;
}

.mail_name {
	font-size: 25px;
	font-weight: bold;
}

.mail_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.mail_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

.mail_check_wrap {
	margin-top: 20px;
}

.mail_check_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
	width: 61%;
	float: left;
}
#mail_check_input_box_false{
    background-color:#ebebe4;
}
 
#mail_check_input_box_true{
    background-color:white;
}

.mail_check_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}
.correct{
    color : green;
}
.incorrect{
    color : red;
}
 

.mail_check_button {
	border: 1px solid black;
	height: 51px;
	width: 30%;
	float: right;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
	background-color: #ececf7;
	cursor: pointer;
}
/* 성별 영역 */
.gender_wrap {
	width: 100%;
	margin-top: 20px;
}

.gender_name {
	font-size: 25px;
	font-weight: bold;
}

label {
	font-size: 23px;
	line-height: 2rem;
	padding: 0.2em 0.4em;
}

[type="radio"], span {
	vertical-align: middle;
}

[type="radio"] {
	appearance: none;
	border: max(2px, 0.1em) solid gray;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
	border: 0.4em solid tomato;
}

[type="radio"]:focus-visible {
	outline-offset: max(2px, 0.1em);
	outline: max(2px, 0.1em) dotted tomato;
}

[type="radio"]:hover {
	box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
	cursor: pointer;
}

[type="radio"]:hover+span {
	cursor: pointer;
}

[type="radio"]:disabled {
	background-color: lightgray;
	box-shadow: none;
	opacity: 0.7;
	cursor: not-allowed;
}

[type="radio"]:disabled+span {
	opacity: 0.7;
	cursor: not-allowed;
}

/* Global CSS */
fieldset {
	display: flex;
	justify-content: left;
	border: none;
	margin: 0;
	padding: 10px 0px;
}

/* 가입하기 버튼 */
.join_button_wrap {
	margin-top: 40px;
	text-align: center;
}

.join_button {
	width: 100%;
	height: 80px;
	background-color: #6AAFE6;
	font-size: 40px;
	font-weight: 900;
	color: white;
}

label {
	font-size: 18px;
	line-height: 2rem;
	padding: 0.2em 0.4em;
}

/* 중복아이디 존재하지 않는경우 */
.id_input_re_1 {
	color: green;
	display: none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2 {
	color: red;
	display: none;
}
/* 중복아이디 존재하지 않는경우 */
.idnum_input_re_1 {
	color: green;
	display: none;
}
/* 중복아이디 존재하는 경우 */
.idnum_input_re_2 {
	color: red;
	display: none;
}
/* 중복아이디 존재하지 않는경우 */
.phone_input_re_1 {
	color: green;
	display: none;
}
/* 중복아이디 존재하는 경우 */
.phone_input_re_2 {
	color: red;
	display: none;
}
/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1{
        color : green;
        display : none;    
}
.pwck_input_re_2{
        color : red;
        display : none;    
}    
 
/* 유효성 검사 문구 */
 
.final_id_ck{
    display: none;
}
.final_pw_ck{
    display: none;
}
.final_pwck_ck{
    display: none;
}
.final_name_ck{
    display: none;
}
.final_mail_ck{
    display: none;
}
.final_phone_ck{
    display: none;
}
.final_idnum_ck{
    display: none;
}
/* float 속성 해제 */
.clearfix {
	clear: both;
}