@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}

/* 화면 전체 렙 */
.wrapper{
	width: 100%;	
}

/* content 랩 */
.wrap{
	width : 80%;
	margin: auto;
}
/* 페이지 제목 */
.subjecet{
	width: 100%;
    height: 120px;
    background-color: #8EC0E4;
}
.subjecet span{
	margin-left: 31px;
    font-size: 80px;
    font-weight: 900;
    color: white;
}
/* 주의 사항 스타일 */
.caution_wrap {
    width: 100%;
    margin-top: 20px;
}

.caution_legend {
    font-size: 25px;
    font-weight: bold;
}

#caution {
    list-style: square;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

#caution li {
    font-size: 18px;
    line-height: 2rem;
    padding: 0.4em 0.4em;
}
/* 이름 영역 */
.user_wrap{
	width: 100%;
    margin-top: 20px;
}
.user_name{
	font-size: 25px;
    font-weight: bold;
}
.user_input_box{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;
	background-color: #c0c0c0;	
	
}
.user_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
	background-color: #c0c0c0;
}

/* 주민번호 영역 */
.idnum_wrap{
	width: 100%;
    margin-top: 20px;
}
.idnum_name{
	font-size: 25px;
    font-weight: bold;
}
.idnum_input_box{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;
	background-color: #c0c0c0;	
	
}
.idnum_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
	background-color: #c0c0c0;
}

/* 전화번호 영역 */
.phone_wrap{
	width: 100%;
    margin-top: 20px;
}
.phone_name{
	font-size: 25px;
    font-weight: bold;
}
.phone_input_box{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;	
	background-color: #c0c0c0;
	
}
.phone_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
	background-color: #c0c0c0;
}

/* 진료 과 영역 */
.subject_wrap{
	width: 100%;
    margin-top: 20px;
}
.subject_name{
	font-size: 25px;
    font-weight: bold;
}
.subject_input_box{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;	
	
}
.subject_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}

/* 진료 희망일 영역 */
.checkDate_wrap{
	width: 100%;
    margin-top: 20px;
}
.checkDate_name{
	font-size: 25px;
    font-weight: bold;
}

/* 진로 희망시간 영역 */
.checkTime_wrap{
	width: 100%;
    margin-top: 20px;
}
.checkTime_name{
	font-size: 25px;
    font-weight: bold;
}
.checkTime_input_box{
	border: 1px solid black;
	height:31px;
	padding: 10px 14px;	
	
}
.checkTime_input{
	width:100%;
	height:100%;
	border:none;
	font-size:28px;
}

label {
  font-size: 23px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
}

[type="radio"], span {
  vertical-align: middle;
}

[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
  border: 0.4em solid tomato;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted tomato;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Global CSS */
fieldset {
  display: flex;
  justify-content: left;
  border: none;
  margin: 0;
  padding: 10px 0px;
}

.ui-datepicker-trigger {						/* 캘린더 css 설정 */
    margin-left: 5px;
    width: 14%;
    height: 52px;
    font-weight: 600;
    background-color: #dfe8f5;
    font-size: 15px;
    cursor:pointer;
}
input[name='checkDate'] {
    width: 80%;
    text-align: center;
    border: 1px solid black;
	height:31px;
	padding: 10px 14px;
	font-size:28px;
}

/* 예약하기 버튼 */
.reserve_button_wrap{
	margin-top: 40px;
	text-align: center;
}
.reserve_button{
	width: 100%;
    height: 80px;
    background-color: #6AAFE6;
    font-size: 40px;
    font-weight: 900;
    color: white;
}

label {
  font-size: 18px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}